<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{title}}</title>

		<link rel="stylesheet" href="{{base}}dist/reset.css">
		<link rel="stylesheet" href="{{base}}dist/reveal.css">
		<link rel="stylesheet" href="{{base}}dist/theme/{{theme}}.css" id="theme">
		
		{{#cssPaths}}
		<link rel="stylesheet" href="{{base}}{{.}}">
		{{/cssPaths}}
		
		{{#remoteCSSPaths}}
		<link rel="stylesheet" href="{{.}}">
		{{/remoteCSSPaths}}
		
		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{{base}}plugin/highlight/{{highlightTheme}}.css" id="highlight-theme">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				{{{slides}}}
			</div>
		</div>

		<script src="{{base}}dist/reveal.js"></script>
		
		<!-- Include chalkboard plugin when enabled -->
		{{#enableChalkboard}}
		<script src="{{base}}plugin/chalkboard/chalkboard.js"></script>
		{{/enableChalkboard}}
		
		<script src="{{base}}plugin/notes/notes.js"></script>
		<script src="{{base}}plugin/markdown/markdown.js"></script>
		<script src="{{base}}plugin/highlight/highlight.js"></script>
		
		{{#scriptPaths}}
		<script src="{{base}}{{.}}"></script>
		{{/scriptPaths}}
		
		{{#remoteScriptPaths}}
		<script src="{{.}}"></script>
		{{/remoteScriptPaths}}
		
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			const revealOptions = JSON.parse('{{revealOptionsStr}}');
			
			// Add chalkboard plugin to dependencies when enabled
			{{#enableChalkboard}}
			revealOptions.dependencies = revealOptions.dependencies || [];
			revealOptions.dependencies.push({ src: '{{base}}plugin/chalkboard/chalkboard.js' });
			{{/enableChalkboard}}
			
			Reveal.initialize(revealOptions);
		</script>
	</body>
</html>