*.DS_Store
target
ref
.idea
.vscode

# npm
node_modules
package-lock.json
.env

# test specific
.obsidian

# coverage report
coverage

dist/
build/
coverage/
.nyc_output/
dist
old
examples/

slides-extended/
slides-extended.zip
settings.local.json
