*.DS_Store
target
ref
.idea
.vscode

# npm
node_modules
package-lock.json
.env

# test specific
test-vault

# coverage report
coverage

dist/
build/
coverage/
.nyc_output/
dist
old
examples/

obsidian-advanced-slides/
obsidian-advanced-slides.zip
