:root {
	--split-div-size: 0;
	--split-gap-size: unset;
}

split[no-margin]>* {
	--r-block-margin: 0;
}

@for $i from 0 through 5 {
    split[gap="#{$i}"] {
		--split-gap-size: #{$i}em;
    }
}

split[even]:not([wrap])>* {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: var(--split-gap-size);
    grid-gap: unset;
}
split[wrap]:not([even]) {
    display: grid;
    gap: unset;
    grid-gap: var(--split-gap-size);

    >* {
        margin: auto;
    }
}

@for $i from 1 through 12 {
    split[wrap="#{$i}"] {
        grid-template-columns: repeat(#{$i}, 1fr);
    }
}
