@use '_split.scss';
@use '_align.scss';
@use '_animation.scss';
@use '_callouts.scss';
@use '_stretch.scss';
@use '_arrowList.scss';
@use '_tables.scss';

:root {
    --dbg-size: 1;
}

.dbg,
.dbg * {
    --dbg-size: 1px;
    outline: 1px solid red;
}

.reset-margin {
    --r-block-margin: 0;
    --r-heading-margin: 0;
}

.flex-even>* {
    flex: 1;
}

/** Override overlay setting from reveal.js */
#notescanvas, #chalkboard {
    position: fixed
}

element.style {
    cursor: url("/plugin/chalkboard/img/boardmarker-black.png"), auto;
    background: rgba(0, 0, 0, 0);
    z-index: 24;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
}

.reveal>.overlay {
    backdrop-filter: unset;
}

.mermaid {
    width: 100%;
    height: auto;
}


// For KaTeX equation numbering
.reveal .katex-display:not(.leqno) > .katex > .katex-html:has(> .tag) {
    /* Reserve right gutter for equation numbers to prevent overlap */
    padding-right: 2em;
}

.reveal .katex-display.leqno > .katex > .katex-html > .tag {
    left: 0 !important;
    right: auto !important;
}

.reveal .katex-display.leqno > .katex > .katex-html:has(> .tag) {
    /* Reserve left gutter for left-aligned equation numbers */
    padding-left: 2em;
}
