@use '_split.scss';
@use '_align.scss';
@use '_animation.scss';
@use '_callouts.scss';
@use '_stretch.scss';
@use '_arrowList.scss';
@use '_tables.scss';

:root {
    --dbg-size: 1;
}

.dbg,
.dbg * {
    --dbg-size: 1px;
    outline: 1px solid red;
}

.reset-margin {
    --r-block-margin: 0;
    --r-heading-margin: 0;
}

.flex-even>* {
    flex: 1;
}

/** Override overlay setting from reveal.js */

element.style {
    cursor: url("/plugin/chalkboard/img/boardmarker-black.png"), auto;
    background: rgba(0, 0, 0, 0);
    z-index: 24;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
}

.reveal>.overlay {
    backdrop-filter: unset;
}

.mermaid {
    width: 100%;
    height: auto;
}
