name: CI Test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

permissions: read-all

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - uses: pnpm/action-setup@v4
      with:
          version: 10

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
          node-version: '20'
          cache: 'pnpm'

    - name: Build and Test
      id: build
      run: |
        pnpm install --frozen-lockfile
        pnpm run build
